edext-server-web/build/

edext-server-web/target/

edext-web/node_modules/

edext-web/.vscode/

edext-web/build/

edext-web/src/node

*.class

tprogLab1/\.settings/org\.eclipse\.jdt\.core\.prefs

tprogLab1/target/

edext-server-web/WebContent/*

!edext-server-web/WebContent/META-INF/*

!edext-server-web/WebContent/WEB-INF/*

application/
