#iniciarSesionModal  .btn-primary {
    color: white;
    background-color: #54BF81;
    border-color: #54BF81;
    box-shadow: none;
}

#iniciarSesionModal  .btn-primary:hover {
    color: white;
    background-color: #8EF8B7;
    border-color: #8EF8B7;
    box-shadow: none;
}

#iniciarSesionModal  .btn-primary:active {
    color: white !important;
    background-color: #54BF81 !important;
    border-color: #54BF81 !important;
    box-shadow: none !important;
}